body {
  --color-primary: #606247;
  --color-secondary: #b9ad00;

  height: 100vh;
  margin: 0;
  background-image: url('/Resources/background.jpg');
  background-color:var(--color-primary);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font: 500 1rem 'Teko', 'sans-serif';
  justify-content: center;
}

main {
  max-width: 250px;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #000000;
  padding: 12px;
  border:var(--color-secondary);
  border-style: solid;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  max-width: 220px;
  margin-left: 16px;
  margin-top: 5px;
}

h1, p {
  color:var(--color-secondary);
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

header {
  padding: 15px;
  margin-bottom: 20px;
  background-color:var(--color-primary);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 4px;
  text-decoration: none;
}

.title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}