body {
--color-primary: #606247;
--color-secondary: #b9ad00;

height: 100vh;
margin: 0;
background-image: url('/Resources/background.jpg');
background-color:var(--color-primary);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center center;
font: 500 1rem 'Teko', 'sans-serif';
}

canvas {
display: block;
margin: 0 auto;
margin-top: 30px;
padding: 0px;
border:var(--color-secondary);
border-style: solid;
}

#startGame, #gameOver {
max-width: 250px;
min-height: 420px;
margin: 0 auto;
padding: 12px;
font-size: 25px;
font-weight: bold;
text-align: center;
color:var(--color-secondary);
background-color: black;
border-color: var(--color-secondary);
border-style: solid;
}

.startGameBtn {
font: 500 1.5rem 'Teko', 'sans-serif';
margin-top: 60px;
max-width: 150px;
height: 60px;
color: var(--color-secondary);
background-color: black;
border-color: var(--color-secondary);
border-style: solid;
}

.startGameBtn:hover, .saveButton:hover {
  background-color: #323325;
  cursor: pointer;
}

#gameOver input {
max-width: 150px;
font-size: 20px;
color: var(--color-secondary);
background-color: black;
border: var(--color-secondary);
border-style: solid;
text-align: center;
font: 500 1.5rem 'Teko', 'sans-serif';
}

.saveButton {
font: 500 1.5rem 'Teko', 'sans-serif';
max-width: 150px;
height: 40px;
color: var(--color-secondary);
background-color: black;
border-color: var(--color-secondary);
border-style: solid;
}

p {
font-size: 16px;
color: red;
}

#score, #finalScore, #levelText, #level {
display: inline-block;
}

#scoreText {
max-width: 200px;
margin: 0 auto;
margin-top: 5px;
background-color: black;
border-color: var(--color-secondary);
border-style: solid;
font-size: 20px;
font-weight: bold;
text-align: center;
color: var(--color-secondary);
}

header {
padding: 15px;
margin-bottom: 20px;
background-color:var(--color-primary);
}

nav {
display: flex;
justify-content: space-around;
align-items: center;
padding: 0 4px;
text-decoration: none;
}

.title {
font-weight: bold;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 2px;
}

a {
display: flex;
justify-content: space-around;
font-size: 16px;
color: black;
cursor: pointer;
text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}