body {
  height: 100vh;
  margin: 0;
  background-image: url('/Resources/background.jpg');
  background-color: #606247;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  font: 500 1rem 'Teko', 'sans-serif';
  justify-content: center;
}

main {
  max-width: 250px;
  min-height: 500px;
  margin: 0 auto;
  background-color: black;
  padding: 20px;
  border: #b9ad00;
  border-style: solid;
}

canvas {
  display: block;
  margin: 0 auto;
  padding: 0px;
  border: #b9ad00;
  border-style: solid;
}

#score{
display: inline-block;
}

#scoreText {
font-size: 30px;
font-weight: bold;
text-align: center;
color:black;
}


header {
  padding: 15px;
  margin-bottom: 30px;
  background-color: #606247;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 4px;
  text-decoration: none;
}

.title {
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}